<!DOCTYPE html>
<html>
  <head>
    <title> Mathify Careers/{{job.title}}</title>
    {% include 'bootstrap.html' %}
    <style>
        #poster{
        height: 360px;
        object-fit:cover;
        width:100%;
      }
      </style>
  </head>
  <body>
    {% include 'nav.html' %}

    <div class="container">
      
      <h1 class="text-center mt-2 mb-4">
        Mathify Careers
      </h1>

    <img id="poster" class="img-fluid" src="https://images.unsplash.com/photo-1504805572947-34fad45aed93?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" >

      
      <h3 style="margin-top:10px">{{job.title}}</h3>
      <p class="lead">{{job.location}}</p>
      <h4>Responsibilities</h4>
      <p>{{job.responsibilities}}</p>
      <h4>Requirements</h4>
         <p>{{job.requirements}}</p>
            <h4>Salary</h4>
      <p>Rs {{job.salary}}</p>
      {% include 'jobapply_form.html' %}
    </div>
    {% include 'footer.html' %}
  </body>
</html>